In [2]:
import pandas as pd

#  load orginal data to df
df=pd.read_parquet('data/transactions.parquet')
print(df.shape)
print(df.columns)


# create a discount rate and a profit and day of the week columns

df['discount_rate_%'] = 100*(df['OriginalSaleAmountInclVAT']-df['RevenueInclVAT']) / df['OriginalSaleAmountInclVAT']
df['profit_%'] = 100*(df['RevenueInclVAT']-df['CostPriceExclVAT']) / df['OriginalSaleAmountInclVAT']
df['Order_Date_FK'] = pd.to_datetime(df['Order_Date_FK'], format='%Y%m%d')
df['day_of_week'] = df['Order_Date_FK'].dt.day_name()

# add the number of item in the transaction
df['nb_item_tx'] = df.groupby('SaleDocumentNumber')['ProductCode'].transform('count')

# add the number of similar item in the  transaction
df['nb_similar_item_tx'] = df.groupby(['SaleDocumentNumber', 'ProductCode'])['ProductCode'].transform('count')


#drop some columns that are not useful for Machine Learning :
df = df.drop(columns=[])
display(df.head())
print(df.shape)


df.to_parquet('data/data_clean6.parquet')

(1759889, 12)
Index(['Shop', 'Order_Date_FK', 'ProductCode', 'OriginalSaleAmountInclVAT',
       'CustomerID', 'SaleDocumentNumber', 'Returned', 'RevenueInclVAT',
       'CostPriceExclVAT', 'BrandName', 'ModelGroup', 'ProductGroup'],
      dtype='object')

,Shop,Order_Date_FK,ProductCode,OriginalSaleAmountInclVAT,CustomerID,SaleDocumentNumber,Returned,RevenueInclVAT,CostPriceExclVAT,BrandName,ModelGroup,ProductGroup,discount_rate_%,profit_%,day_of_week,nb_item_tx,nb_similar_item_tx
0,36,2021-07-30,-1968361059464632550,99.95,-2190786785520839526,23995792,0,74.96,36.534515,3694837121284491212,3162564956579801398,-453682476182549203,25.002501,38.444707,Friday,2,2
1,58,2021-07-30,-1745497788861904687,21.95,-3499949798555834600,23995794,0,21.95,7.364523,-1657270726128381662,-6715310361529623819,-453682476182549203,0.000000,66.448642,Friday,2,2
2,49,2021-07-30,-4482110002029860032,69.95,-7841417233849937172,23995797,0,38.47,24.415000,-7202472198306336051,-248459121805647149,5294166889150293396,45.003574,20.092924,Friday,4,2
3,49,2021-07-30,-9146072753857637799,99.95,-7841417233849937172,23995797,0,54.97,32.293506,-2074012670196538378,-248459121805647149,5294166889150293396,45.002501,22.687838,Friday,4,2
4,15,2021-07-30,-8829485741699345914,49.95,7033964597104594686,23995798,0,17.48,8.885632,-4869459690934553786,-4124706989267335995,-453682476182549203,65.005005,17.205942,Friday,6,2

(1759889, 17)